.CareeContainer {
    margin:auto; 
    width: 40%;
    border-radius: 50px;
    padding: 2em; 
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(236, 236, 236);
    font-size: medium;
}

.careeInfo {
    text-align: left;
    color: rgb(43, 43, 43);
}
.careeHeading {
    text-align: center;
    color: rgb(25, 82, 237);
}