
.signUpContainer {
/* border: 3px solid rgb(27, 120, 250);  */
margin:auto; 
width: 20%;
border-radius: 50px;
padding: 2em; 
margin-top: 2em;
background-color: rgb(93, 157, 253);
}

/* .signUpContainer :hover {
	transform: scale(1.1);
	transition: 1s;
} */


.signUp {
	text-align: center;
 }

 form {
	display: inline-block; 
 }



 /* .formBox {
	border-style: thick solid;
 } */

 .signUpHeading {
	justify-content: center;
	display: flex;
	text-align: center;
	font-family: inherit;
	color: rgb(8, 84, 225);
 }