.bubble {
    background-color: rgb(255, 255, 255);
    background-image: url(./images/bubblesBG.jpeg);
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 152px;
    margin-right: 20px;
    position: absolute;
    transition: opacity ease-in-out 1s;
    width: 152px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bubblesAnimate{
    0%{
        margin-top: 70px;
    }
    100%{
        margin-top: -100px;
    }
  }
  @keyframes sides{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 15px;
    }
  }


  .bubbles {
    height: 600px;
    overflow: hidden;
    position: relative;
    -webkit-animation: bubblesAnimate 35s linear infinite, sides 2s ease-in-out infinite alternate;
    animation: bubblesAnimate 35s linear infinite, sides 2s ease-in-out infinite alternate;
    left: 0%;
    right: -2%;
    top: 10%;
  }
  
  .bubbles-wrapper {
    background-color: rgb(90, 151, 242);
    bottom: 0;
    left: 0;
    /* position can mean bubbles are behind stuff or in front off */
    position: fixed;
    right: 0;
    top: 10;
    z-index: -1;
    justify-content: center; 
    height: 100%; 
  }

  

    