/* html,
body,
#__next {
  height: 100%;
  margin: 0;
  width: 100%;
} */

.bubble {
    background-color: white;
    background-image: url(./images/spritesheet.png);
    /* background-size: 1076px 1076px; */
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 152px;
    margin-right: 20px;
    position: absolute;
    transition: opacity ease-in-out 1s;
    width: 152px;
  }

  .bubbles {
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .bubbles-wrapper {
    background-color: #FFB6B9;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
  }

    #sprite1 {  
        width: 464px;
        height: 464px;
        background: url(./images/spritesheet.png) -0px -0px;
    }
    .sprite2 {
        width: 264px;
        height: 464px;
        background: url(./images/spritesheet.png) -528px -0px;
    }
    #sprite3 {
        width: 464px;
        height: 364px;
        background: url(./images/spritesheet.png) -764px -564px;
    }
    #sprite4 {
        width: 464px;
        height: 464px;
        background: url(./images/spritesheet.png) -764px -200px;
    }
    #sprite5 {
        width: 564px;
        height: 464px;
        background: url(./images/spritesheet.png) -1128px -0px;
    }
    #sprite6 {
        width: 764px;
        height: 764px;
        background: url(./images/spritesheet.png) -1692px -0px;
    }
    #sprite7 {
        width: 764px;
        height: 764px;
        background: url(./images/spritesheet.png) -2492px -0px;
    }
    #sprite8 {
        width: 464px;
        height: 564px;
        background: url(./images/spritesheet.png) -3256px -0px;
    }
    #sprite9 {
        width: 464px;
        height: 764px;
        background: url(./images/spritesheet.png) -3722px -0px;
    }
  
  /* .company-1 {
    background-position: -154px 0;
  }
  
  .company-2 {
    background-position: -308px 0;
  }
  
  .company-3 {
    background-position: -462px 0;
  } */


